nav{
    width: 20%;
    border: 2px solid darkgreen;

    float: right; /*float per decidere dove posizionare il blocco*/
}

nav ul{
    list-style-type: circle; /*da mettere nell'ul per decidere il puntino che elencherà i li*/
    line-height: 2em; /*interlinea*/
}

nav ul a:hover{
    background-color: darkgreen;
    color: white;
}

header{
    width: 70%;
    background-color: lightgreen;
    border: 2px solid black;

    text-align: center;

    /*questa è l'obreggiatura:*/
    /*il primo numero è la larghezza
    il secondo è l'altezza (genericamente da tenere uguali)*/
    box-shadow: 10px 10px 5px green;
}

section{
    width: 70%;
    color: black;
    text-align: left;
}

footer{
    width: 70%;
    border: 2px solid darkgreen;
    text-align: center;
    color: darkgreen;
    text-size-adjust: 2px;

    font-size: small;

    box-shadow: 10px 10px 5px green;
}