fieldset{
    border: dashed blue;
}

form{
}

fieldset{
    
}

button{
    color: white;
    background-color: blue;
    rotate: -10deg;
    width: 100%;
    border-radius: 5px;
    padding: 15px;
    border: none;
}